body{
    background-color: antiquewhite;
    align-items: center;
    text-align: center;
    background-image: url(2023-09-30_15.27.40.png);
    background-attachment:fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.jpeg{
    height: 500px;
    width: auto;
    border-radius: 100px;
    border: 50px solid #0000;
    border:5px solid #00aeff; margin:5px”  
}

h1{
    font-size: 100px;
    background-color: antiquewhite;
    color: rgb(67, 74, 80);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-size: 50px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.st{
    font-size: 70px;
    background-color: blanchedalmond;
    width: 100%px;
    border-radius: 200px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: gray;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}
